= form_for @order do |f|
  =error_messages_for(@order)
  .row
    .col-md-4
      .form-group
        = f.label :status
        = f.select :status, [['','']] + Order::STATUSES, {}, class: 'form-control'
  .actions
    = f.submit nil, class: 'btn btn-primary'
