=link_to order, class: 'list-group-item' do
  .media
    .media-body
      %h4.media-heading
        =order.name
      %small.text-muted
        =order.email
      .text-center
        %small.text-muted
          =Order::STATUSES[order.status][0]
      .text-right
        %strong=number_to_currency(order.total_price)
