.page-header
  %h1 Заказы
-if Order.edit_by?(@current_user)
  -if @orders.blank?
    .alert.alert-info Заказов не найдено
  -else
    .list-group
      =render @orders
    =paginate @orders
-else
  -if @current_user!=nil
    -if @current_user.orders.blank?
      .alert.alert-info Заказов нет
    -else
      .list-group
        -@current_user.orders.each do |o|
          =render o
          -# =link_to o, class: 'list-group-item' do
          -#   .media
          -#     .media-body
          -#       %h4.media-heading
          -#         =o.name
          -#       %small.text-muted
          -#         =o.email
          -#       .text-center
          -#         %small.text-muted
          -#           =Order::STATUSES[0]
          -#       .text-right
          -#         %strong=number_to_currency(o.total_price)
