.page-header
  %h1 Заказы
-if Order.edit_by?(@current_user)
  -if @order.status != 4 && @order.status != 5
    =render 'menu'

-if @current_user!=nil
  .media
    .media-body
      %h4.media-heading
        =@order.name
      %small.text-muted
        =@order.email
      .text-center
        %small
          =Order::STATUSES[@order.status][0]
        %h4
          ="Общая стоимость: "
          =number_to_currency(@order.total_price)
  .list-group
    -@order.line_items.each do |item|
      =link_to item.book, class: 'list-group-item' do
        .media
          -if item.book.cover?
            .media-left=image_tag item.book.cover.url(:thumb), alt: item.book.title, class: 'media-object'
          .media-body
            %h4.media-heading
              =item.book.title
            %i
              =item.book.author
            %h4.media-bottom
              =item.quantity
              шт × #{item.book.price} =
              =number_to_currency(item.total_price)
