-if Book.edit_by?(@current_user)
  .btn-toolbar
    =link_to edit_book_path(@book), class: 'btn btn-primary' do
      =fa_icon 'edit'
      Редактировать
    -if @book.can_destroy?
      =link_to @book, data: {method: :delete, confirm: t('helpers.sure')}, class: 'btn btn-danger' do
        =fa_icon 'trash'
        Удалить
-else
  -if @current_user!=nil
    .btn-toolbar
      =button_to line_items_path(book_id: @book), class: 'btn btn-primary' do
        =fa_icon 'shopping-cart'
        Добавить в корзину
