.page-header
  %h1 Книги
-if Book.edit_by?(@current_user)
  .btn-toolbar
    =link_to new_book_path, class: 'btn btn-primary' do
      =fa_icon 'plus'
      Новая книга
-if @books.blank?
  .alert.alert-info Книг не найдено
-else
  .list-group
    =render @books
  =paginate @books
