.page-header
  %h1=@book.title
=render 'menu'
.row
  .col-md-3
    -if @book.cover?
      =image_tag @book.cover.url(:medium), alt: @book.title, class: 'img-responsive'
  .col-md-9
    %h4
      -if @book.author
        =@book.author
    %i.small.text-muted
      -if @book.publishing
        =@book.publishing
        -if @book.author
          =@book.year
    %h4
      %b
        -if @book.price
          =number_to_currency(@book.price)
    %div=@book.description

    -if @book.films.any?
      %h3=Book.human_attribute_name(:films)
      .list-group
        -@book.films.each do |film|
          =render 'films/film', film: film
