.page-header
  %h1 Корзина
-if @cart.line_items.blank?
  .alert.alert-info Корзина пуста.
-else
  =render 'menu'
  %h4
    ="Общая стоимость: "
    =number_to_currency(@cart.total_price)
  .list-group
    -@cart.line_items.each do |item|
      =link_to item.book, class: 'list-group-item' do
        .media
          -if item.book.cover?
            .media-left=image_tag item.book.cover.url(:thumb), alt: item.book.title, class: 'media-object'
          .media-body
            %h4.media-heading
              =item.book.title
            %i
              =item.book.author
            %h4.media-bottom
              =item.quantity
              шт × #{item.book.price} =
              =number_to_currency(item.total_price)
  -# =render 'orders/order'
